nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.writeTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .tweeter {
  font-family: "Bungee", sans serif;
}
